body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #434455;
  text-transform: none;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.nav-link {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.solutions-section {
  background-color: #2e2f42;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.button {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-subtitle,
.team-subtitle,
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-text,
.team-text,
.portfolio-text,
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-text {
  color: #f4f4fd;
}

.team-subtitle,
.team-text {
  text-align: center;
}
.team-section {
  background-color: #f4f4fd;
}
.team-item {
  background-color: #fff;
}
.page-footer {
  background-color: #2e2f42;
}
